.btn {
    -fx-padding: 5;
    -fx-background-color: #b6b6b6;
    -fx-border-color: #7d7d7d;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.btn:hover
{
    -fx-background-color: #dadada;
}

.ui-pane
{
    -fx-border-color: #f4a460;
    -fx-border-style: solid;
    -fx-border-width: 8px;
    -fx-background-color: #593A44;
    -fx-width: 200px;
    -fx-padding: 10px;
}

.name-field
{
    -fx-padding: 5;
    -fx-background-color: #b6b6b6;
    -fx-border-color: #7d7d7d;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.name-field:focused
{
    -fx-background-color: #dadada;
}